@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap; //faz com qeu o texto fique na mesma linha//

    &--primary {
        color: variables.$textColor;
        background-color: variables.$button;
    }

    @media (max-width: 640px) {
        display: flex;
        // width: 100%;
        align-items: center; //usa para quando tiver display flex e alinhar na vertical
        justify-content: center;
    }

    @media (max-width: 1024px) {
        display: flex;
        // width: 100%;
        align-items: center; //usa para quando tiver display flex e alinhar na vertical
        justify-content: center;
    }
}